.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 10%;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.logo{
    font-size: 35px;
    font-weight: 800;
    color:red ;
}

.nav ul li{
    list-style: none;
}
.nav ul{
    display: flex;
    gap: 20px;
}
.nav ul li:hover{
    color: blueviolet;
}